* {
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

header {
  text-align: center;
  padding-top: 8px;
  width: 100vw;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid rgb(212, 212, 212);
}


.footer-wrap {
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer {
  width: 100vw;
  height: 50px;
  border: 1px solid rgb(212, 212, 212);
  text-align: center;
}

footer p {
  font-size: 20px;
  margin-top: 10px;
}


button:focus {outline:0;}